*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: 'Varela Round' !important;
    line-height: 1.4;
}
input[type=text], input[type=email], input[type=password]{
    border: 1px solid #ccc;
    border-radius: 0;
}
input[type=text], input[type=email], input[type=password], textarea:hover{
    border: 1px solid #ccc !important;
    box-shadow: none !important;
    outline: none !important;
}
textarea{
    border: 1px solid #ccc !important;
    box-shadow: none !important;
    outline: none !important;
}