.reset__wrapper{
   .reset-body{
    margin-top:10rem;
    font-family: 'Varela Round';
    margin-bottom: 18rem;
    .reset-form--wrapper{
        background: #fafafa;
        padding:2rem;
        h3{
            font-size:.9rem;
            padding-bottom: 1rem;
            color:$primary-color;
        }
    }
    .reset_pwd--btn{
        width: 100%;
        background: $primary-color;
        padding:.6rem;
        text-align: center;
        border: none;
        color:#fff;
    }
   }
}